bin
lib
code
hack
school
tmp
Desktop
Documents
Library
Movies
Music
Pictures
Public
Sites
cbt
dropbox
elisp.d
irclogs
hack-metarepos
.amazon_keys
.bash_history
.cabal
.config
.dropbox
.eclipse_keyring
.emacs.d
.fonts.cache-1
.gdb_history
.ghc
.hamachi
.irb-save-history
.irssi
.links
.lpoptions
.mutt
.muttrc
.mysql_history
.netbeans
.rdebug_hist
.ruby_inline
.sqlite_history
.ssh
.subversion
.viminfo
.DS_Store
.MacOSX
.Trash
