[user]
	name = Fredrik Möllerstrand
	email = fredrik.mollerstrand@knowit.se

[init]
	defaultBranch = main

[color]
	diff = auto
	status = auto
	branch = auto

[diff]
	algorithm = patience

[branch]
	autosetuprebase = always

[push]
	default = current

[pull]
	rebase = true

[fetch]
	prune = true

[rebase]
	autosquash = true

[alias]
	tree = log --oneline --decorate --graph
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
