Desktop
Documents
Downloads
Dropbox
Games
Library
Movies
Music
Pictures
Public
Sites
code
data
editd
hack
juarez
rich
school
src
tmp
virtual-machines
workspace
zohmg-projects
.CFUserTextEncoding
.DS_Store
.Trash
.Xauthority
.amazon_keys
.bash_history
.bundle
.certs
.cups
.dbshell
.dropbox
.ec2
.eclipse_keyring
.emacs.d
.erlang.cookie
.fontconfig
.gdb_history
.gem
.ghc
.gnuplot_history
.hadoop-ec2
.heroku
.htoprc
.irb-save-history
.irb_history
.irssi
.ivy2
.jline-clojure.main.history
.lesshst
.links
.local
.macports
.matplotlib
.mutt
.muttrc
.mysql_history
.netbeans
.pig_history
.psql_history
.python-eggs
.rdebug_hist
.ruby_inline
.s3curl
.scala_history
.sdirs
.sqlite_history
.ssh
.subversion
.viminfo
.vimperator
.virtualenvs
