Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
.Trash/

.CFUserTextEncoding
.DS_Store

.android/
.bundle/
.cups/
.docker/
.gem/
.gsutil/
.hex/
.httpie/
.kube/
.meteor/
.mitmproxy/
.mix/
.npm/
.oh-my-zsh/
.rbenv/
